<div class="homepage">

    <div class="cut cut1"></div>
    <div class="cut cut2"></div>
    <div class="cut cut3"></div>
    <div class="cut cut4"></div>

    <div class="description">
        <h1 class="title">Des relais olympiques historiques et insolites</h1>
        <p class="subtitle">Avant le début de chaque Jeux, un parcours pour la flamme olympique est tracé selon un thème spécifique choisi par le pays organisateur. Des milliers de kilomètres sont parcourus, tenus par des relayeurs légendaires, utilisant des moyens de transports insolites et traversant des endroits étonnants !</p>
        <div class="buttons">
            <a href="#menuAnchor2">
                <fire-button
                name="Découvrir l'expérience"
                width="170px"
                height="40px"
                color="#0480C9"
                ></fire-button>
            </a>
            <a href="#menuAnchor3">
                <fire-button
                    name="Voter pour un parcours"
                    width="170px"
                    height="40px"
                    color="#00A651"
                ></fire-button>
            </a>
        </div>
    </div>

    <div class="background" style="background-image:url('./assets/allumeuse.png')"></div>
    <div class="filter"></div>
</div>

<div class="scroll">
    <p>Scrollez vers le bas pour commencer l'experience</p>
</div>