<div class="homepage">

    <div class="cut cut1"></div>
    <div class="cut cut2"></div>
    <div class="cut cut3"></div>
    <div class="cut cut4"></div>

    <div class="description">
        <h1 class="title">Headline du projet</h1>
        <p class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit unde necessitatibus ut consequuntur animi! Quis impedit reprehenderit laudantium eius similique sint quasi necessitatibus illum officiis, asperiores ipsam voluptatem tempora suscipit!</p>
        <fire-button
            [innerText]="lol"
        ></fire-button>
    </div>

    <div class="background" style="background-image:url('./assets/allumeuse.png')"></div>
    <div class="filter"></div>
</div>

<div class="scroll">
    <p>Scrollez vers le bas pour commencer l'experience</p>
</div>