.fireButton {
    display: flex;
    background-color: white;
    position: relative;
    border: 1px solid black;
    font-weight: 200;
    padding: 0 10px;
    line-height: 40px;
    cursor: pointer;
    font-size: 12px;
}

.background {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 5px;
    transition: all .5s ease-in-out;
    z-index: 1;
}

.name {
    position: absolute;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    transition: all .5s ease-in-out;
}

.nameBackground {
    color: black;
    z-index: 4;
}

.nameForeground {
    opacity: 0;
    color: white;
    z-index: 5;
}

.fireButton:hover .background {
    width: 100%;
    transition: all .5s ease-in-out;
}

.fireButton:hover .nameForeground {
    opacity: 1;
    transition: all .5s ease-in-out;
}