
<div class="voting">
  <div class="header">
    <h2>Votez pour le prochain parcours de la flamme 2024 !</h2>
    <p>Les Jeux Olympiques 2024 à Paris approche à grand pas. Avant le début des jeux, la torche doit parcourir un chemin symbolique partant d'Olympie, en Grèce, là où elle est allumée grâce au soleil, jusqu'à sa destination finale, Paris. Choisissez et votez pour votre parcours symbolique favori parmi les 4 sélections ci-dessous.</p>
  </div>

  <ng-scrollbar
    trackX=true
  >
    <div class="parcours">
      <div class="parcours1">
        <div class="image" style="background-image:url('./assets/flamepath-1.png')"></div>
        <div class="parcours-name">Relais "Mémoire du passé"</div>
        <div class="parcours-theme">Le parcours traverse différentes villes de France découvrant ainsi les châteaux historiques, des vestiges romains ou des lieux de mémoires.</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#0480C9"
          ></fire-button>
        </div>
      </div>
      <div class="parcours2">
        <div class="image" style="background-image:url('./assets/flamepath-2.png')"></div>
        <div class="parcours-name">Relais "Route des paysages"</div>
        <div class="parcours-theme">Des paysages montagneux en passant par les campagnes et les plages, la route des paysages français regorge de petits coins incroyables.</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
      <div class="parcours3">
        <div class="image" style="background-image:url('./assets/flamepath-3.png')"></div>
        <div class="parcours-name">Relais "Fin gourmet"</div>
        <div class="parcours-theme">La gastronomie française est renommée dans le monde entier pour sa qualité et sa diversité. Le relais permet de découvrir chaque région qui a une spécialité culinaire.</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#ED1941"
          ></fire-button>
        </div>
      </div>
      <div class="parcours4">
        <div class="image" style="background-image:url('./assets/flamepath-4.png')"></div>
        <div class="parcours-name">Relais "Un patrimoine culturel"</div>
        <div class="parcours-theme">Grâce au patrimoine culturel, les villes françaises possèdent leur propre identité. Des monuments, des centres culturels ou des architectures contemporaines.</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#FCAF32"
          ></fire-button>
        </div>
      </div>
    </div>
  </ng-scrollbar>

</div>