
<div class="voting">
  <div class="header">
    <h2>Votez pour le prochain parcours de la flamme !</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, ex, consequuntur nam labore sunt accusamus repudiandae qui officia, placeat laborum neque dolor recusandae! Cumque inventore neque quisquam rem. Eum, animi.</p>
  </div>

  <ng-scrollbar
    trackX=true
  >
    <div class="parcours">
      <div class="parcours1">
        <div class="image" style="background-image:url('./assets/flamepath-1.png')"></div>
        <div class="parcours-name">Parcours 1</div>
        <div class="parcours-theme">Parcours Historique</div>
        <div class="voteButton">
          <fire-button
            name="Voter Historique"
            width="170px"
            height="40px"
            color="#0480C9"
          ></fire-button>
        </div>
      </div>
      <div class="parcours2">
        <div class="image" style="background-image:url('./assets/flamepath-2.png')"></div>
        <div class="parcours-name">Parcours 2</div>
        <div class="parcours-theme">Parcours Environnement</div>
        <div class="voteButton">
          <fire-button
            name="Voter Environnement"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
      <div class="parcours3">
        <div class="image" style="background-image:url('./assets/flamepath-3.png')"></div>
        <div class="parcours-name">Parcours 3</div>
        <div class="parcours-theme">Parcours Gastronomique</div>
        <div class="voteButton">
          <fire-button
            name="Voter Gastronomique"
            width="170px"
            height="40px"
            color="#ED1941"
          ></fire-button>
        </div>
      </div>
      <div class="parcours4">
        <div class="image" style="background-image:url('./assets/flamepath-4.png')"></div>
        <div class="parcours-name">Parcours 4</div>
        <div class="parcours-theme">Parcours Touristique</div>
        <div class="voteButton">
          <fire-button
            name="Voter Touristique"
            width="170px"
            height="40px"
            color="#FCAF32"
          ></fire-button>
        </div>
      </div>
    </div>
  </ng-scrollbar>

</div>