<div class="earth__container">
  <div #rendererContainer></div>
  <div class="buttons">
    <void-button
      (mouseenter)="enter('mexico')"
      (mouseleave)="leave('mexico', '0x0480C9')"
      name="Mexico 1968"
      desc="Le nouveau monde"
      width="150px"
      height="48px"
      color="#0480C9"
    ></void-button>
    <void-button
      (mouseenter)="enter('sydney')"
      (mouseleave)="leave('sydney', '0x50E3C2')"
      name="Sydney 2000"
      desc="Le relai la tête en bas"
      width="150px"
      height="48px"
      color="#50E3C2"
    ></void-button>
    <void-button
      (mouseenter)="enter('beijing')"
      (mouseleave)="leave('beijing', '0xED1941')"
      name="Beijing 2008"
      desc="Voyage en harmonie"
      width="150px"
      height="48px"
      color="#ED1941"
    ></void-button>
    <void-button
      (mouseenter)="enter('sotchi')"
      (mouseleave)="leave('sotchi', '0x86450C')"
      name="Sotchi 2014"
      desc="Undefined name"
      width="150px"
      height="48px"
      color="#86450C"
    ></void-button>
  </div>
  <div
  *ngIf="lastSelected !== null"
  class="recap">
    <h1 class="title">{{ recap['title'] }}</h1>
    <h5 class="subtitle" [style.color]="recap['color']">{{ recap['theme'] }}</h5>
    <p class="anecdote">Départ de la flamme</p>
      <p class="date">{{ recap['start'] }}</p>
    <p class="anecdote">Premier porteur</p>
      <p class="date">{{ recap['first'] }}</p>
    <p class="anecdote">Arrivée de la flamme</p>
      <p class="date">{{ recap['end'] }}</p>
    <p class="anecdote">Dernier porteur</p>
      <p class="date">{{ recap['last'] }}</p>
    <p class="anecdote">Nombre de porteurs</p>
      <p class="date">{{ recap['nb_bearer'] }}</p>
    <fire-button
        name="Voir les anecdotes"
        width="170px"
        height="40px"
        [color]="recap['color']"
        (click)="openFlameroad()"
    ></fire-button>
  </div>

  <div class="flameroad flameroad__mexico" [class.flameroad--open]="isOpen && lastSelected == 'mexico'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">

              <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/genes-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme chez Christophe Colomb</h3>
                  <h5>Gênes, 27 août 1968</h5>
                  <p>Après son allumage à Olympie, la flamme débarque à Gênes, en Italie sur le navire grec ‘Le Navarinon”. Une cérémonie se déroule devant la maison natale de Christophe Colomb à l’issue de laquelle la flamme olympique fut portée par vingt-deux hommes jusqu'au pont principal de Porta della Soprano.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/genes-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/genes-3.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/genes-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/veracruz-1.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>Une brasse pour la flamme</h3>
                  <h5>Veracruz, 06 octobre 1968</h5>
                  <p>Le destroyer “Durango” fit son entrée dans le port de Veracruz au Mexique et la flamme fut amenée jusqu'au rivage par dix-sept nageurs se relayant tous les 850 mètres. Pour la première fois dans l’histoire olympique, la flamme est transportée à la nage lors d’un relais. C’est l’athlète mexicain Eduardo Moreno qui a l’honneur d’effectuer les 50 premiers mètres du relais.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/veracruz-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/veracruz-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/veracruz-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-1.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme au temps des Aztèques</h3>
                  <h5>Teotihuacan, 11 octobre 1968</h5>
                  <p>La flamme olympique fait une halte à la grande Pyramide de la Lune, cité des Dieux et grand centre cérémoniel chez les peuples préhispaniques. Sous les yeux de 50’000 spectateurs, une majestueuse cérémonie est organisée pour rappeler le « Feu Nouveau » qui marquait, chez les Aztèques, la fin d’un cycle de 52 ans. La réapparition du soleil à l’aube symbolisait le renouveau du monde.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-3.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-4.png')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/acapulco-1.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme prend la vague</h3>
                  <h5>Acapulco, 13 octobre 1968</h5>
                  <p>Pour la première fois dans l'histoire des Jeux, la flamme olympique est apportée par des skieurs nautiques à travers la baie au Yacht-Club d'Acapulco, centre des régates olympiques, où un groupe d'officiels et de personnalités attend son arrivée.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/acapulco-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/acapulco-3.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/acapulco-4.png')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/mexico-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme amenée par une femme</h3>
                  <h5>Mexico City, 14 octobre 1968</h5>
                  <p>Le flambeau passa ensuite dans les mains d'Enriqueta Basilio, première femme dans l'histoire des Jeux à effectuer le relais final. Après avoir gravi l'escalier, la jeune athlète fit une pause sur la plate-forme supportant la vasque et salua de sa torche les quatre points cardinaux. Puis elle alluma la flamme qui, jour et nuit, allait brûler au Stade olympique pendant les quinze jours des Jeux.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/mexico-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/mexico-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/mexico-4.jpg')"></div>
              </div>
            </div>
          </div>

        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__sydney" [class.flameroad--open]="isOpen && lastSelected == 'sydney'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">
            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">Blablabla</div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
              </div>
            </div>
          </div>
  
        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__beijing" [class.flameroad--open]="isOpen && lastSelected == 'beijing'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">
          <div class="flameroad__image1">
            <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          </div>
          <div class="flameroad__double">
            <div class="flameroad__image2">
              <div class="flameroad__image">Blablabla</div>
            </div>
            <div class="flameroad__image3">
              <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
            </div>
          </div>
          <div class="flameroad__double">
            <div class="flameroad__image4">
              <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
            </div>
            <div class="flameroad__image5">
              <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
            </div>
          </div>
        </div>
        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__sotchi" [class.flameroad--open]="isOpen && lastSelected == 'sotchi'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">
            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">Blablabla</div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
              </div>
            </div>
          </div>
        </ng-scrollbar>

      </div>
  </div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.js'></script>
<script src='vendor/three.js/examples/js/controls/OrbitControls.js'></script>