<div class="earth__container">
  <div #rendererContainer></div>
  <div class="buttons">
    <void-button
      (mouseenter)="enter('mexico')"
      (mouseleave)="leave('mexico', '0x0480C9')"
      name="Mexico 1968"
      desc="Le nouveau monde"
      width="150px"
      height="48px"
      color="#0480C9"
    ></void-button>
    <void-button
      (mouseenter)="enter('sydney')"
      (mouseleave)="leave('sydney', '0x50E3C2')"
      name="Sydney 2000"
      desc="Le relai la tête en bas"
      width="150px"
      height="48px"
      color="#50E3C2"
    ></void-button>
    <void-button
      (mouseenter)="enter('beijing')"
      (mouseleave)="leave('beijing', '0xED1941')"
      name="Beijing 2008"
      desc="Voyage en harmonie"
      width="150px"
      height="48px"
      color="#ED1941"
    ></void-button>
    <void-button
      (mouseenter)="enter('sotchi')"
      (mouseleave)="leave('sotchi', '0x86450C')"
      name="Sotchi 2014"
      desc="Undefined name"
      width="150px"
      height="48px"
      color="#86450C"
    ></void-button>
  </div>
  <div
  *ngIf="lastSelected !== null"
  class="recap">
    <h1 class="title">{{ recap['title'] }}</h1>
    <h5 class="subtitle" [style.color]="recap['color']">{{ recap['theme'] }}</h5>
    <p class="anecdote">Départ de la flamme</p>
      <p class="date">{{ recap['start'] }}</p>
    <p class="anecdote">Premier porteur</p>
      <p class="date">{{ recap['first'] }}</p>
    <p class="anecdote">Arrivée de la flamme</p>
      <p class="date">{{ recap['end'] }}</p>
    <p class="anecdote">Dernier porteur</p>
      <p class="date">{{ recap['last'] }}</p>
    <p class="anecdote">Nombre de porteurs</p>
      <p class="date">{{ recap['nb_bearer'] }}</p>
    <fire-button
        name="Voir les anecdotes"
        width="170px"
        height="40px"
        [color]="recap['color']"
        (click)="openFlameroad()"
    ></fire-button>
  </div>

  <div class="flameroad flameroad__mexico" [class.flameroad--open]="isOpen && lastSelected == 'mexico'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
        </div>
        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__sydney" [class.flameroad--open]="isOpen && lastSelected == 'sydney'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
        </div>
        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__beijing" [class.flameroad--open]="isOpen && lastSelected == 'beijing'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
        </div>
        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__sotchi" [class.flameroad--open]="isOpen && lastSelected == 'sotchi'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
          <div class="flameroad__image" style="background-image:url('./assets/allumeuse.png')"></div>
        </div>
        </ng-scrollbar>

      </div>
  </div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.js'></script>
<script src='vendor/three.js/examples/js/controls/OrbitControls.js'></script>