<div class="earth__container">
  <div #rendererContainer></div>
  <div class="buttons">
    <void-button
      (mouseenter)="enter('mexico')"
      (mouseleave)="leave('mexico', '0x0480C9')"
      name="Mexico 1968"
      desc="Le nouveau monde"
      width="170px"
      height="48px"
      color="#0480C9"
    ></void-button>
    <void-button
      (mouseenter)="enter('sydney')"
      (mouseleave)="leave('sydney', '0x50E3C2')"
      name="Sydney 2000"
      desc="Le relais «la tête en bas»"
      width="170px"
      height="48px"
      color="#50E3C2"
    ></void-button>
    <void-button
      (mouseenter)="enter('beijing')"
      (mouseleave)="leave('beijing', '0xED1941')"
      name="Beijing 2008"
      desc="Le relais de l’harmonie"
      width="170px"
      height="48px"
      color="#ED1941"
    ></void-button>
    <void-button
      (mouseenter)="enter('sotchi')"
      (mouseleave)="leave('sotchi', '0x86450C')"
      name="Sotchi 2014"
      desc="Hivernal et chaleureux"
      width="170px"
      height="48px"
      color="#86450C"
    ></void-button>
  </div>
  <div
  *ngIf="lastSelected !== null"
  class="recap">
    <h1 class="title">{{ recap['title'] }}</h1>
    <h5 class="subtitle" [style.color]="recap['color']">{{ recap['theme'] }}</h5>
    <p class="anecdote">Départ de la flamme</p>
      <p class="date">{{ recap['start'] }}</p>
    <p class="anecdote">Premier porteur</p>
      <p class="date">{{ recap['first'] }}</p>
    <p class="anecdote">Arrivée de la flamme</p>
      <p class="date">{{ recap['end'] }}</p>
    <p class="anecdote">Dernier porteur</p>
      <p class="date">{{ recap['last'] }}</p>
    <p class="anecdote">Nombre de porteurs</p>
      <p class="date">{{ recap['nb_bearer'] }}</p>
    <fire-button
        name="Voir les anecdotes"
        width="170px"
        height="40px"
        [color]="recap['color']"
        (click)="openFlameroad()"
    ></fire-button>
  </div>

  <div class="flameroad flameroad__mexico" [class.flameroad--open]="isOpen && lastSelected == 'mexico'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/genes-1.jpg')">
                <h2>Mexico 1968</h2>
                <h4>Le relais du Nouveau Monde</h4>
                <p>Le relais symbolise le lien entre les civilisations méditerranéennes et américaines et retrace le premier voyage de Christophe Colomb vers le Nouveau Monde.Il évoque les événements et les lieux associés à ce voyage en passant notamment par les trois points marquants que sont Gênes, ville natale de Colomb, Palos en Espagne d’où il embarqua et l’île de San Salvador la première terre qu’il atteignit de l’autre côté de l’Atlantique.</p>
                <fire-button
                  name="Voir la torche"
                  width="170px"
                  height="40px"
                  color="#0480C9"
                ></fire-button>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme chez Christophe Colomb</h3>
                  <h5>Gênes, 27 août 1968</h5>
                  <p>Après son allumage à Olympie, la flamme débarque à Gênes, en Italie sur le navire grec ‘Le Navarinon”. Une cérémonie se déroule devant la maison natale de Christophe Colomb à l’issue de laquelle la flamme olympique fut portée par vingt-deux hommes jusqu'au pont principal de Porta della Soprano.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/genes-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/genes-3.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/genes-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/veracruz-1.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>Une brasse pour la flamme</h3>
                  <h5>Veracruz, 06 octobre 1968</h5>
                  <p>Le destroyer “Durango” fit son entrée dans le port de Veracruz au Mexique et la flamme fut amenée jusqu'au rivage par dix-sept nageurs se relayant tous les 850 mètres. Pour la première fois dans l’histoire olympique, la flamme est transportée à la nage lors d’un relais. C’est l’athlète mexicain Eduardo Moreno qui a l’honneur d’effectuer les 50 premiers mètres du relais.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/veracruz-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/veracruz-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/veracruz-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-1.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme au temps des Aztèques</h3>
                  <h5>Teotihuacan, 11 octobre 1968</h5>
                  <p>La flamme olympique fait une halte à la grande Pyramide de la Lune, cité des Dieux et grand centre cérémoniel chez les peuples préhispaniques. Sous les yeux de 50’000 spectateurs, une majestueuse cérémonie est organisée pour rappeler le « Feu Nouveau » qui marquait, chez les Aztèques, la fin d’un cycle de 52 ans. La réapparition du soleil à l’aube symbolisait le renouveau du monde.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-3.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/teotihuacan-4.png')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/acapulco-1.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme prend la vague</h3>
                  <h5>Acapulco, 13 octobre 1968</h5>
                  <p>Pour la première fois dans l'histoire des Jeux, la flamme olympique est apportée par des skieurs nautiques à travers la baie au Yacht-Club d'Acapulco, centre des régates olympiques, où un groupe d'officiels et de personnalités attend son arrivée.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/acapulco-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/acapulco-3.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/acapulco-4.png')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/mexico-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme amenée par une femme</h3>
                  <h5>Mexico City, 14 octobre 1968</h5>
                  <p>Le flambeau passa ensuite dans les mains d'Enriqueta Basilio, première femme dans l'histoire des Jeux à effectuer le relais final. Après avoir gravi l'escalier, la jeune athlète fit une pause sur la plate-forme supportant la vasque et salua de sa torche les quatre points cardinaux. Puis elle alluma la flamme qui, jour et nuit, allait brûler au Stade olympique pendant les quinze jours des Jeux.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/mexico-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/mexico-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/mexico-4.jpg')"></div>
              </div>
            </div>
          </div>

        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__sydney" [class.flameroad--open]="isOpen && lastSelected == 'sydney'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        <div class="images">

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/woomera-1.jpg')">
                <h2>Sydney 2000</h2>
                <h4>Le relais « la tête en bas »</h4>
                <p>Le relais a été conçu de façon à faire participer la communauté dans son ensemble et de faire connaître l’Océanie. II mettra non seulement en relief l’héritage culturel et les paysages australiens, mais aussi la riche tradition sportive du pays.Le début du relais en Australie est à Uluru, un lieu sacré pour la population indigène. C’est l’athlète aborigène Nova Peris-Kneebone, championne olympique en hockey sur gazon, qui assure la première étape du relais.</p>
                <fire-button
                  name="Voir la torche"
                  width="170px"
                  height="40px"
                  color="#50E3C2"
                ></fire-button>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme à bord d’une fusée</h3>
                  <h5>Woomera, 19 mai 2000</h5>
                  <p>Dr. Andy Thomas, astronaute de la NASA natif d’Australie, une version spéciale de la torche et un drapeau portant l’emblème des Jeux sont emmenés dans l’espace une dizaine de jours en mai 2000 lors du voyage de la navette spatiale Atlantis vers la Station spatiale internationale.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/woomera-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/woomera-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/woomera-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/yulara-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme et les aborigènes</h3>
                  <h5>Yulara, 08 juin 2000</h5>
                  <p>LLa flamme atteint l’Australie à Yulara et le relais démarre à proximité du rocher sacré d’Uluru également connu sous le nom d’Ayers Rock. Nova Peris-Kneebone, médaillée d’or en hockey aux Jeux d’Atlanta en 1996, effectue pieds nus la première étape du relais sur sol australien en marque de respect pour le peuple aborigène dont elle est issue.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/yulara-2.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/cairns-1.png')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme sous la mer</h3>
                  <h5>Cairns, 27 juin 2000</h5>
                  <p>La biologiste aquatique Wendy Craig Duncan a porté la flamme olympique dans les fonds marins du nord-est de l’Australie où se situe la Grande Barrière de Corail, non loin de Cairns. Afin de demeurer allumée sous l’eau, la flamme devait brûler à 2000°c durant les 2 minutes 40 secondes d’exploration.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/cairns-2.png')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/cairns-3.png')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/cairns-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/sydney-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme “marchant sur l’eau”</h3>
                  <h5>Sydney, 15 septembre 2000</h5>
                  <p>Dans une cérémonie qui exploite les mêmes éléments que ceux évoqués dans le design de la torche (feu, eau, terre), Cathy Freeman, choisie pour incarner la cause des Aborigènes d’Australie, « marche sur l’eau » avant d’allumer un cercle de feu qui se révèle être une vasque monumentale.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/sydney-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/sydney-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/sydney-4.jpg')"></div>
              </div>
            </div>

          </div>

        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__beijing" [class.flameroad--open]="isOpen && lastSelected == 'beijing'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >
        
        <div class="images">

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/paris-1.jpg')">
                <h2>Beijing 2008</h2>
                <h4>Le relais de l’harmonie</h4>
                <p>Le relais traverse les cinq continents, partage avec les peuples du monde entier l’idéal olympique “les sports servent le développement harmonieux de l’humanité” et poursuit son chemin en faisant halte sur les principaux points qui jalonnent l’ancienne route de la soie. Le peuple chinois veut transmettre l’amitié, la paix et l’harmonie. Bien qu’il y est une contradiction concernant l’indépendance du Tibet qui est toujours opprimé par la Chine. Malgré les essais de perturbation à Istanbul, Londres, Paris ou Séoul, la passion de tous les peuples pacifiques prouve qu’aucune perturbation ne peut atténuer le feu de la Flamme olympique.</p>
                <fire-button
                  name="Voir la torche"
                  width="170px"
                  height="40px"
                  color="#ED1941"
                ></fire-button>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme bousculée à Paris</h3>
                  <h5>Paris, 07 avril 2008</h5>
                  <p>Après une étape londonienne déjà mouvementée, le passage de la flamme à Paris tourne au fiasco. Les manifestants pro-Tibétains ont harcelé les porteurs de la flamme olympique, obligeant finalement les organisateurs à interrompre le relais avant son terme. Les manifestations tibétaines s’est révélé par des drapeaux tibétains, des banderoles disant “one world, one dream, free Tibet" (un monde, un rêve, libérer le Tibet) ou montrant des menottes figurant les anneaux olympiques.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/paris-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/paris-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/paris-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
                <div class="flameroad__image" style="background-image:url('./assets/everest-1.jpg')"></div>
              </div>
              <div class="flameroad__double">
                <div class="flameroad__image2">
                  <div class="flameroad__image">
                    <h3>La flamme sur le toit du monde</h3>
                    <h5>Mont Everest, 08 mai 2008</h5>
                    <p>Une deuxième flamme olympique est envoyée au Tibet où elle atteint le sommet de la plus haute montagne du monde, le mont Everest, par une équipe d’alpinistes. Un moment fort pour la Chine après un parcours international émaillé d’incidents où c’est une occasion pour la propagande du régime chinois de vanter l’unité du pays avec le Tibet. Des militants pro-tibétains ont condamné cette expédition qu’ils jugent avant tout “politique” et où “la conquête de l’Everest par Pékin est une initiative politique visant à réaffirmer le contrôle de la Chine sur le Tibet”.</p>
                  </div>
                </div>
                <div class="flameroad__image3">
                  <div class="flameroad__image" style="background-image:url('./assets/everest-2.jpg')"></div>
                </div>
              </div>
              <div class="flameroad__double">
                <div class="flameroad__image4">
                  <div class="flameroad__image" style="background-image:url('./assets/everest-3.jpg')"></div>
                </div>
                <div class="flameroad__image5">
                  <div class="flameroad__image" style="background-image:url('./assets/everest-4.png')"></div>
                </div>
              </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/beijing-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme dans les airs</h3>
                  <h5>Beijing, 08 août 2008</h5>
                  <p>Suspendu par trois filins, courant d'un pas aérien à l'horizontale autour de l'écran géant au sommet du Stade National, l'ancien triple champion olympique de gymnastique Li Ning s'apprête à allumer la Vasque Olympique pour conclure en apothéose la Cérémonie d'ouverture des Jeux Olympiques de Beijing 2008.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/beijing-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/beijing-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/beijing-4.jpg')"></div>
              </div>
            </div>

            </div>

        </ng-scrollbar>

      </div>
  </div>

  <div class="flameroad flameroad__sotchi" [class.flameroad--open]="isOpen && lastSelected == 'sotchi'">
      <div class="flameroad__content">
        <div class="flameroad__back"
          (click)="closeFlameroad()"
        >←</div>
        <ng-scrollbar
          trackX=true
        >

        <div class="images">

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/moscou-1.jpg')">
                <h2>Sotchi 2014</h2>
                <h4>Le relais hivernal et chaleureux</h4>
                <p>Le relais est le plus long dans le temps et le plus étendu dans l’espace dans l’histoire des Jeux OlympIques d’hiver. Il parcourt en 123 jours quelque 65.000 km à travers les 83 régions de la Fédération de Russie.La torche et la vasque reprennent le thème du relais : ils doivent créer un effet de “glace et de feu”. La couleur argentée rappelle une surface gelée et la couleur rouge, traditionnelle en Russie, est un symbole de la flamme. Ils se lient l’un à l’autre comme la mer chaude et les montagnes enneigées de Sotchi.</p>
                <fire-button
                  name="Voir la torche"
                  width="170px"
                  height="40px"
                  color="#86450C"
                ></fire-button>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme éteinte</h3>
                  <h5>Moscou, 07 octobre 2013</h5>
                  <p>Après la cérémonie officielle d’allumage de la flamme par le président Vladimir Poutine, cette dernière s’est éteinte dès le deuxième relais dans les mains d’un relayeur alors qu’il n’avait pas franchi les portes du Kremlin. Un responsable est alors venu rallumer le flambeau avec un briquet. Cette extinction a été très commentée sur les réseaux sociaux, alors même que des polémiques autour de la question des droits de l'homme viennent bouleverser l'organisation de ces JO.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/moscou-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/moscou-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/moscou-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/nord-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme atteint le Pôle Nord</h3>
                  <h5>Pôle Nord, 19 octobre 2013</h5>
                  <p>A bord d’un brise-glace spécial qui a traversé la banquise, la flamme olympique conservé dans une lanterne a atteint le Pôle Nord. Au nord-ouest de la Russie, ce lieu est connu comme le point le plus haut du monde, là où la notion du temps perd son sens.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/nord-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/nord-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/nord-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/baikonour-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme sort dans l’espace</h3>
                  <h5>Baikonour, 07 novembre 2013</h5>
                  <p>La torche olympique a été emmenée dans l’espace, à partir de la station internationale ISS. Pour la première fois, deux cosmonautes russes, Sergueï Riazanski et Oleg Kotov, ont participé au relais de la flamme au cours d’une sortie à l'extérieur de la fusée d’environ une heure avec la torche éteinte, par mesure de sécurité.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/baikonour-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/baikonour-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/baikonour-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/baikal-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme plonge dans un lac</h3>
                  <h5>Lac Baikal, 23 novembre 2013</h5>
                  <p>Après avoir été propulsé à la surface du lac Baïkal, la torche est relayée à 13 mètres de profondeur dans ce grand réservoir d’eau douce le plus profond du monde. La flamme, d’un rose brillant, a été spécialement conçu grâce à un brûleur similaire aux engins pyrotechniques utilisés comme signaux lumineux en mer.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/baikal-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/baikal-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/baikal-4.jpg')"></div>
              </div>
            </div>

            <div class="flameroad__image1">
              <div class="flameroad__image" style="background-image:url('./assets/elbrouz-1.jpg')"></div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image2">
                <div class="flameroad__image">
                  <h3>La flamme au sommet d’Europe</h3>
                  <h5>Mont Elbrouz, 1er février 2014</h5>
                  <p>La flamme olympique a atteint le point culminant du mont Elbrouz (5.642 m), le plus haut sommet d’Europe dans le Caucase russe. Deux alpinistes russes expérimentés ont gravi la montagne avec la flamme conservée dans une lanterne pour la protéger des très fortes rafales de vent.</p>
                </div>
              </div>
              <div class="flameroad__image3">
                <div class="flameroad__image" style="background-image:url('./assets/elbrouz-2.jpg')"></div>
              </div>
            </div>
            <div class="flameroad__double">
              <div class="flameroad__image4">
                <div class="flameroad__image" style="background-image:url('./assets/elbrouz-3.jpg')"></div>
              </div>
              <div class="flameroad__image5">
                <div class="flameroad__image" style="background-image:url('./assets/elbrouz-4.jpg')"></div>
              </div>
            </div>
          </div>

        </ng-scrollbar>

      </div>
  </div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.js'></script>
<script src='vendor/three.js/examples/js/controls/OrbitControls.js'></script>