
<div class="voting">
  <div class="header">
    <h2>Votez pour le prochain parcours de la flamme !</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, ex, consequuntur nam labore sunt accusamus repudiandae qui officia, placeat laborum neque dolor recusandae! Cumque inventore neque quisquam rem. Eum, animi.</p>
  </div>

  <ng-scrollbar
    trackX=true
  >
    <div class="parcours">
      <div class="parcours1">
        <div class="image" style="background-image:url('./assets/allumeuse.png')"></div>
        <div class="parcours-name">Parcours1</div>
        <div class="parcours-theme">Theme1</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
      <div class="parcours1">
        <div class="image" style="background-image:url('./assets/allumeuse.png')"></div>
        <div class="parcours-name">Parcours1</div>
        <div class="parcours-theme">Theme1</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
      <div class="parcours1">
        <div class="image" style="background-image:url('./assets/allumeuse.png')"></div>
        <div class="parcours-name">Parcours1</div>
        <div class="parcours-theme">Theme1</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
      <div class="parcours1">
        <div class="image" style="background-image:url('./assets/allumeuse.png')"></div>
        <div class="parcours-name">Parcours1</div>
        <div class="parcours-theme">Theme1</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
    </div>
  </ng-scrollbar>

</div>