.header {
    position: fixed;
    width: 100vw;
    height: 72px;
    margin: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 100;
}

.header__logo {
    width: 60px;
    height: 60px;
    margin-left: 100px;
    background: center no-repeat;
    background-size: contain;
    z-index: 101;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0px;
}

.menu__title {
}

.menu__item {
    margin: 0 32px;
    list-style: none;
    top: 0;
}

.menu__button {
    margin-top: 0px;
    padding-top: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: black;
    cursor: pointer;
}

.menu__actif {
    padding-top: 14px;
    border-top: 2px solid black;
}