<div class="header">
  <div class="header__logo" style="background-image:url('./assets/olympicslogo.png')"></div>
  <ul class="menu">
    <li class="menu__item">
      <div class="menu__shareLogo"></div>
      <a><p class="menu__button menu__button--share">Partager</p></a>
    </li>
    <li class="menu__item">
      <div class="menu__voteLogo"></div>
      <a><p class="menu__button menu__button--vote">Voter</p></a>
    </li>
    <li class="menu__item">
      <div class="menu__menuLogo"></div>
      <a><p class="menu__button menu__button--menu">Menu</p></a>
    </li>
  </ul>
</div>