<div class="header">
  <div class="header__logo" style="background-image:url('./assets/olympicslogo.png')"></div>
  <ul class="menu">
    <li class="menu__item">
      <a><p class="menu__button menu__button--concept menu__actif">Concept</p></a>
    </li>
    <li class="menu__item">
      <a><p class="menu__button menu__button--experience">Expérience</p></a>
    </li>
    <li class="menu__item">
      <a><p class="menu__button menu__button--vote">Voter</p></a>
    </li>
    <li class="menu__item">
      <a><p class="menu__button menu__button--share">Partager</p></a>
    </li>
  </ul>
</div>