
<div class="voting">
  <div class="header">
    <h2>Votez pour la prochaine torche olympique 2024 !</h2>
    <p>La torche olympique est l'élément principal à chaque Jeux Olympiques. C'est devenu un emblème qui met en avant les valeurs et les symboles du pays organisateur. Quelle sera la torche qui symbolisera la France et Paris lors des Jeux olympiques 2024 ? Choisissez et votez pour votre torche favorite parmi les 4 sélections ci-dessous.</p>
  </div>

  <ng-scrollbar
    trackX=true
  >
    <div class="torche">
      <div class="torche1">
        <div class="image" style="background-image:url('./assets/torche-1.png')"></div>
        <div class="torche-name">Torche n°1</div>
        <div class="torche-theme">Avec sa structure arrondie, la torche a la forme d'une plume du coq gaulois</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#0480C9"
          ></fire-button>
        </div>
      </div>
      <div class="torche2">
        <div class="image" style="background-image:url('./assets/torche-2.png')"></div>
        <div class="torche-name">Torche n°2</div>
        <div class="torche-theme">La forme géométrique de la torche représente la forme hexagonale de la France</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
      <div class="torche3">
        <div class="image" style="background-image:url('./assets/torche-3.png')"></div>
        <div class="torche-name">Torche n°3</div>
        <div class="torche-theme">La forme de la torche s'inspire des feuilles de l'arbre de la liberté</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#ED1941"
          ></fire-button>
        </div>
      </div>
      <div class="torche4">
        <div class="image" style="background-image:url('./assets/torche-4.png')"></div>
        <div class="torche-name">Torche n°4</div>
        <div class="torche-theme">Jamais vue auparavant, la torche est un objet connecté qui permet de calculer en direct la distance parcourue</div>
        <div class="voteButton">
          <fire-button
            name="Voter"
            width="170px"
            height="40px"
            color="#FCAF32"
          ></fire-button>
        </div>
      </div>
    </div>
  </ng-scrollbar>

</div>