
<div class="voting">
  <div class="header">
    <h2>Votez pour le prochain parcours de la flamme !</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, ex, consequuntur nam labore sunt accusamus repudiandae qui officia, placeat laborum neque dolor recusandae! Cumque inventore neque quisquam rem. Eum, animi.</p>
  </div>

  <ng-scrollbar
    trackX=true
  >
    <div class="torche">
      <div class="torche1">
        <div class="image" style="background-image:url('./assets/torche-1.png')"></div>
        <div class="torche-name">Torche 1</div>
        <div class="torche-theme">Theme 1</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#0480C9"
          ></fire-button>
        </div>
      </div>
      <div class="torche2">
        <div class="image" style="background-image:url('./assets/torche-2.png')"></div>
        <div class="torche-name">Torche 2</div>
        <div class="torche-theme">Theme 2</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#00A651"
          ></fire-button>
        </div>
      </div>
      <div class="torche3">
        <div class="image" style="background-image:url('./assets/torche-3.png')"></div>
        <div class="torche-name">Torche 3</div>
        <div class="torche-theme">Theme 3</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#ED1941"
          ></fire-button>
        </div>
      </div>
      <div class="torche4">
        <div class="image" style="background-image:url('./assets/torche-4.png')"></div>
        <div class="torche-name">Torche 4</div>
        <div class="torche-theme">Theme 4</div>
        <div class="voteButton">
          <fire-button
            name="Voter R"
            width="170px"
            height="40px"
            color="#FCAF32"
          ></fire-button>
        </div>
      </div>
    </div>
  </ng-scrollbar>

</div>