.voting {
    width: 100vw;
    padding-top: 100px;
    display: flex;
}

h2 {
    text-align: center;
    padding: 0 40px;
    @media (min-width: 666px) {
        text-align: left;
    }
}

p {
    display: none;
    text-align: center;
    padding: 0 20px;

    @media (min-width: 666px) {
        display: block;
        text-align: left;
    }
}

.image {
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.torche1,
.torche2,
.torche3,
.torche4 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
}

.torche {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 1000px;
    bottom: 0;
    text-align: center;

    .torche-name {
        font-weight: 500;
        font-size: 1.4em;
    }

    .torche-theme {
        font-weight: 300;
        font-size: 14px;
        padding: 0 12px;
        color: rgba(0,0,0,0.3);
    }
}

.voting .voteButton {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
}
