<app-menu></app-menu>
<div id="content-wrapper" [mnFullpage]="options"
         [mnFullpageNavigation]="true"
         [mnFullpageKeyboardScrolling]="true"
         [mnFullpageSlidesNavigation]="true"
         mnFullpageSlidesNavPosition="bottom">
    
        <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <homepage></homepage>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <earth-mobile></earth-mobile>
                <earth></earth>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <voting></voting>
            </div>
        </div>
        <!-- <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <div class="slide">
                    <h1>Easy to use !</h1>
                    <h4>Use keyboard arrows or navigation below to slide right</h4>
                </div>
                <div class="slide">
                    <h1>Declare it in your module</h1>
                    <div class="code-block">

                    </div>
                </div>
                <div class="slide">
                    <h1>Now use it in your html template</h1>
                    <div class="code-block">

                    </div>
                </div>
            </div>
        </div> -->
<!--         
        <div class="section slides-section fp-section fp-table">
            <div class="fp-tableCell">
                <div class="slide">
                    <h1>Many ways to configure!</h1>
                    <h4>Use keyboard arrows or navigation below to slide right</h4>
                </div>
                <div class="slide">
                    <h1>Configure it via attributes</h1>
                    <div class="code-block">
                    </div>
                </div>
                <div class="slide">
                    <h1>Use configuration object instead</h1>
                    <div class="code-block">
                    <pre>
                        
                    </pre>
                    </div>
                </div>
                <div class="slide">
                    <h1>Or MIX IT !</h1>
                    <div class="code-block">
                    <pre>
                        
                    </pre>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="section usage-section fp-section fp-table">
            <div class="fp-tableCell">
                <h1>Get full control on the page !</h1>
                <div class="code-block">
                <pre>
                    <code class="html">{{templates.service}}</code>
                </pre>
                </div>
                <div>
                    <button (click)="fullpageService.moveSectionUp();">Move section up</button>
                    <button (click)="fullpageService.moveSectionDown();">Move section down</button>
                </div>
            </div>
        </div> -->

    </div>