<ul class="breadcrumb">
  <li class="breadcrumb__item">
    <p class="breadcrumb__title">Accueil</p>
    <p class="breadcrumb__subTitle">La flamme olympique</p>
  </li>
  <li class="breadcrumb__item">
    <p class="breadcrumb__title"></p>
    <p class="breadcrumb__subTitle"></p>
  </li>
  <li class="breadcrumb__item">
    <p class="breadcrumb__title"></p>
    <p class="breadcrumb__subTitle"></p>
  </li>
  <li class="breadcrumb__item">
    <p class="breadcrumb__title"></p>
    <p class="breadcrumb__subTitle"></p>
  </li>
  <li class="breadcrumb__item">
    <p class="breadcrumb__title">Place au vote</p>
    <p class="breadcrumb__subTitle">Votez pour le relai 2024</p>
  </li>
  <li class="breadcrumb__item">
    <p class="breadcrumb__title"></p>
    <p class="breadcrumb__subTitle"></p>
  </li>
</ul>