<div class="imagegrid">
  <div class="imagegrid__left">
    <div class="imagegrid__leftTop">
      <div class="imagegrid__leftTopLeft">
        <div class="imagegrid__image" style="background-image:url('./assets/DSC00163.JPG')"></div>
      </div>
      <div class="imagegrid__leftTopRight">
        <div class="imagegrid__leftTopRightTop">
          <div class="imagegrid__image" style="background-image:url('./assets/DSC00163.JPG')"></div>
        </div>
        <div class="imagegrid__leftTopRightBottom">
          <div class="imagegrid__image" style="background-image:url('./assets/DSC00163.JPG')"></div>
        </div>
      </div>
    </div>
    <div class="imagegrid__leftBottom">
      <div class="imagegrid__image" style="background-image:url('./assets/DSC00163.JPG')"></div>
    </div>
  </div>
  <div class="imagegrid__right">
    <div class="imagegrid__rightTop">
      <div class="imagegrid__image" style="background-image:url('./assets/DSC00163.JPG')"></div>
    </div>
    <div class="imagegrid__rightBottom">
      <div class="imagegrid__rightBottomLeft">
        <h1 class="imagegrid__title">La flamme prend la vague</h1>
        <p class="imagegrid__subTitle">Acapulco, 13 octobre 1968</p>
        <p class="imagegrid__desc">Pour la première fois dans l'histoire des jeux .......</p>
      </div>
      <div class="imagegrid__rightBottomRight">
        <div class="imagegrid__image" style="background-image:url('./assets/DSC00163.JPG')"></div>
      </div>
    </div>
  </div>

  <flameroad></flameroad>
</div>