.flameitem {
    margin: 2px;
    background-color: gray;
    transition: all 1s ease-in-out;

    &__title {
        font-size: 20px;
        color: white;
    }
}

.flameitem:hover {
    width: 120%;
    background-color: green;
    transition: all 1s ease-in-out;

    &__title {
        font-size: 30px;
    }
}