.navigation {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: auto;
    height: 50px;
    display: flex;
}

.navigation__leftBtn {
    width: 50px;
}

.navigation__rightBtn {
    width: 150px;
}

.navigation__leftBtn,
.navigation__rightBtn {
    height: 50px;
}
